/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:576px)  { /* ... */
}
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) { /* ... */
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) { /* ... */
}
/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) { /* ... */
}
body {
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100%;
}
.content {
    width: 50%; /* Adjust as needed */
    background-color: white; /* Change as needed */
}
ul{
    list-style: none;
}
.main p, .sub-section p {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}



.sub-section p {
    margin-left: 50px;
}

