*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Toppan Bunkyu Midashi Gothic", SansSerif;
}

.input{
    text-align: center;
    margin: 100px 0;
}

input[type=text]{
    height: 30px;
    width: 400px;
    background: #e7e7e7;
    font-family: "Toppan Bunkyu Midashi Gothic",SansSerif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    padding: 10px 10px;
}

input[type=submit]{
    height: 30px;
    width: 80px;
    background: #e7e7e7;
    font-family: "Toppan Bunkyu Midashi Gothic",SansSerif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
}

.display{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-width: 40px;
    border: black;
}
#card{
    border: black;
    border-width: 3px;

}
.card {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}
